<app-breadcrumb [breadcrumbTitle]="'Wishlist'"></app-breadcrumb>

<div class="wrapper mtb--40">
  <div class="container">
    <!-- Check if wishlist is empty -->
    <div
      *ngIf="(wishlistProducts$ | async)?.length === 0; else wishlistContent"
    >
      <h2 class="h2 text-center mb-3">Your wishlist is empty</h2>
      <div class="text-center">
        <a class="btn btn-danger" routerLink="/product">Shop now</a>
      </div>
    </div>

    <!-- Wishlist content if there are items -->
    <ng-template #wishlistContent>
      <table class="table table-hover mb-3 cart-table">
        <thead>
          <tr>
            <th colspan="2">Product</th>
            <th class="text-center">Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of wishlistProducts$ | async">
            <td class="col-md-1">
              <div class="media">
                <img
                  class="pic-1"
                  [src]="
                    product.images && product.images.length
                      ? product.images[0].src
                      : 'assets/default-image.jpg'
                  "
                  alt="{{ product.name }}"
                />
              </div>
            </td>
            <td class="col-md-3">
              <div class="h3">
                <a [href]="'/product/' + product.slug">{{ product.name }}</a>
              </div>
            </td>
            <td class="col-sm-1 col-md-1 text-center">
              <strong>{{ product.price | currency }}</strong>
            </td>
            <td class="col-sm-1 col-md-1">
              <a (click)="addToCart(product)" data-tip="Add to Cart">
                <i class="font-1 fa fa-shopping-cart"></i>
              </a>
              &nbsp; &nbsp;
              <button
                type="button"
                class="btn btn-sm btn-outline-danger"
                (click)="removeFromWishlist(product)"
              >
                <i class="font-1 fa fa-close"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
</div>
