<!-- Cart Panel -->
<div class="shopping__cart">
  <div class="shopping__cart__inner">
    <div class="offsetmenu__close__btn">
      <a href="javascript:void(0)">
        <i class="zmdi zmdi-close"></i>
      </a>
    </div>
    <div class="shp__cart__wrap">
      <div class="shp__single__product">
        <div class="shp__pro__thumb">
          <a href="#">
            <img
              src="../../../assets/images/product/product-1.jpg"
              alt="product images"
            />
          </a>
        </div>
        <div class="shp__pro__details">
          <h2><a href="/product-details">Women's Blouse</a></h2>
          <span class="quantity">QTY: 1</span>
          <span class="shp__price">$10.00</span>
        </div>
        <div class="remove__btn">
          <a href="#" title="Remove this item">
            <i class="zmdi zmdi-close"></i>
          </a>
        </div>
      </div>
    </div>
    <ul class="shoping__total">
      <li class="subtotal">Subtotal:</li>
      <li class="total__price">$130.00</li>
    </ul>
    <ul class="shopping__btn">
      <li><a routerLink="/cart">View Cart</a></li>
      <li class="shp__checkout"><a routerLink="/checkout">Checkout</a></li>
    </ul>
  </div>
</div>
