<!-- Start Bradcaump area -->
<div
  class="cod__bradcaump__area"
  style="
    background: rgba(0, 0, 0, 0) url('../../../assets/images/breadcrumb-1.png')
      no-repeat scroll center center / cover;
  "
>
  <div class="cod__bradcaump__wrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="bradcaump__inner">
            <nav class="bradcaump-inner">
              <h2 class="breadcrumb-item" style="color: #fff; font-size: 50px">
                {{ breadcrumbTitle }}
              </h2>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Bradcaump area -->
