<div class="wrapper">
  <!-- Slider -->
  <app-slider></app-slider>

  <!-- Product Slider -->
  <div class="container mb--30 mt--120">
    <div class="row">
      <div class="col-xs-12">
        <div class="section__title--2 text-center">
          <h2 class="title__line">New Offers On Products</h2>
        </div>
      </div>

      <div class="col-xs-12 mt--30">
        <app-product-slider></app-product-slider>
      </div>
    </div>
  </div>

  <!-- Product Grid -->
  <div class="container mb--30 mt--10">
    <div class="row">
      <div class="col-xs-12">
        <div class="section__title--2 text-center">
          <h2 class="title__line">Latest products</h2>
        </div>
      </div>
      <div class="col-xs-12 mt--30">
        <app-product-grid></app-product-grid>
      </div>
    </div>
  </div>
</div>
