<app-breadcrumb [breadcrumbTitle]="'Category'"></app-breadcrumb>

<section class="product__grid_category">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3 display-none-md" id="filters">
        <div class="sidebar-search">
          <div class="input-group wd-btn-group col-12 p0">
            <input
              type="text"
              class="form-control"
              placeholder="Search ..."
              aria-label="Search for..."
            />
            <span class="input-group-btn">
              <button class="btn btn-secondary wd-btn-search" type="button">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </span>
          </div>
        </div>

        <div class="side-bar side-bar--filter" attr-val="category">
          <div>
            <a
              href="javascript:;"
              class="filter-opt button"
              attr-title="filter-category"
              >Clear filter</a
            >
          </div>
          <br />
          <h5 class="title">Category</h5>
          <div class="div-con-filter">
            <p class="col-category finder-page">
              <label>
                <input
                  id="category_1"
                  name="filter_category"
                  type="checkbox"
                  value="1"
                  class="filter-category"
                />
                Fruits & Vegetables
              </label>
            </p>
            <p class="col-category finder-page">
              <label>
                <input
                  id="category_1"
                  name="filter_category"
                  type="checkbox"
                  value="1"
                  class="filter-category"
                />
                Breakfast
              </label>
            </p>
            <p class="col-category finder-page">
              <label>
                <input
                  id="category_1"
                  name="filter_category"
                  type="checkbox"
                  value="1"
                  class="filter-category"
                />
                Grocery
              </label>
            </p>
            <p class="col-category finder-page">
              <label>
                <input
                  id="category_1"
                  name="filter_category"
                  type="checkbox"
                  value="1"
                  class="filter-category"
                />
                Household
              </label>
            </p>
            <p class="col-category finder-page">
              <label>
                <input
                  id="category_1"
                  name="filter_category"
                  type="checkbox"
                  value="1"
                  class="filter-category"
                />
                Personal-Care
              </label>
            </p>
            <p class="col-category finder-page">
              <label>
                <input
                  id="category_1"
                  name="filter_category"
                  type="checkbox"
                  value="1"
                  class="filter-category"
                />
                Confectionary
              </label>
            </p>
            <p class="col-category finder-page">
              <label>
                <input
                  id="category_1"
                  name="filter_category"
                  type="checkbox"
                  value="1"
                  class="filter-category"
                />
                Beverages
              </label>
            </p>
          </div>
        </div>

        <div class="side-bar side-bar--filter" attr-val="price">
          <div>
            <a
              href="javascript:;"
              class="filter-opt button"
              attr-title="filter-price"
              >Clear filter</a
            >
          </div>
          <br />
          <h5 class="title">Price</h5>
          <div class="div-con-filter">
            <p *ngFor="let price of price_arr | keyvalue">
              <label>
                <input type="checkbox" class="filter-price" /> {{ price.value }}
              </label>
            </p>
          </div>
        </div>

        <div class="side-bar side-bar--filter" attr-val="discount">
          <div>
            <a
              href="javascript:;"
              class="filter-opt button"
              attr-title="filter-discount"
              >Clear filter</a
            >
          </div>
          <br />
          <h5 class="title">Discount</h5>
          <div class="div-con-filter">
            <p *ngFor="let discount of discount_arr | keyvalue">
              <label>
                <input type="checkbox" class="filter-discount" />
                {{ discount.value }}
              </label>
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-12 col-lg-9">
        <div class="row">
          <div id="allproduct" class="">
            <div class="col-md-4 col-sm-6" *ngFor="let product of products">
              <div class="product-grid">
                <div class="product-image">
                  <a>
                    <img
                      class="pic-1"
                      [src]="
                        product.images && product.images.length
                          ? product.images[0].src
                          : 'assets/default-image.jpg'
                      "
                      alt="{{ product.name }}"
                    />
                  </a>
                  <ul class="social">
                    <li>
                      <a
                        [routerLink]="['/productDetails', product.id]"
                        data-tip="View Details"
                        ><i class="bi bi-search"></i
                      ></a>
                    </li>
                    <li>
                      <a
                        data-tip="Add to Wishlist"
                        (click)="addToWishlist(product)"
                        ><i class="bi bi-bag"></i
                      ></a>
                    </li>
                    <li>
                      <!-- 'Add to Cart' icon ke liye click event bind kar rahe hain -->
                      <a
                        href="javascript:void(0)"
                        data-tip="Add to Cart"
                        (click)="addToCart(product)"
                      >
                        <i class="bi bi-cart-dash-fill"></i>
                      </a>
                    </li>
                  </ul>
                  <!-- <span class="product-new-label">Sale</span>
                  <span class="product-discount-label">10%</span> -->
                </div>
                <div class="product-content">
                  <h3 class="title">
                    <a href="#">{{ product.name }}</a>
                  </h3>
                  <div class="price">INR {{ product.price }}</div>
                  <a class="add-to-cart" href="#" (click)="addToCart(product)"
                    >+ Add To Cart</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="loader-div col-sm-12 text-center clearfix">
            <div
              id="loader"
              style="display: none"
              class="fa-spin fa fa-spinner"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <app-footer></app-footer> -->
